:root {
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

body {
}

#app {

  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}
